{% extends 'base.html' %} {% block content %}
{% if object %}
<h4>Edit <span class="blue-grey-text">{{object.name}}</span></h4>
{% else %}
<h4>Create Project</h4>
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br/>
    <input type="submit" value="Submit!" class="btn blue-grey darken-3" />
</form>
<script>
    var dateEl = document.getElementById('id_date_published');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
    var selectEl = document.getElementById('id_color_scheme');
    M.FormSelect.init(selectEl);

    var selectEl = document.getElementById('id_project_type');
    M.FormSelect.init(selectEl);
</script>
{% endblock %}