{% extends 'base.html' %} {% block content %}

<h1>Color Scheme Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">
      {{scheme.name}}</span>
  </div>
  <div class="card-action">
    <a href="{% url 'color_scheme_update' scheme.id %}">Update</a>
    <a href="{% url 'color_scheme_delete' scheme.id %}">Delete</a>
  </div>
  <table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hex Number</th>
            <th>Sample</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for color in scheme.color.all %}
        <tr>
            <td>{{color.name}}</td>
            <td>{{color.hex}}</td>
            <td>
                <div style='background-color: {{color.hex}}; width: 30px; height: 30px;'></div>
            </td>
            <td><a href="{% url 'color_update' color.id %}">Update</a></td>
            <td><a href="{% url 'color_delete' color.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}