{% extends 'base.html' %} {% block content %}
<br/>
<a href="{% url 'color_scheme_create' %}" class="btn blue-grey darken-3">Create Color Scheme</a>
{% for scheme in schemes %}
<div class="card">
    <a href="{% url 'color_scheme_detail' scheme.id %}">
        <div class="card-content scheme-sample">
            <div class="card-title">{{ scheme.name }}</div>
            <div class="colors-sample">
                {% for color in scheme.color.all %}
                <div class='color-tile' style='background-color: {{color.hex}};'></div>
                {% endfor %}
            </div>
        </div>
    </a>
</div>
{% endfor %}
<hr />
<a href="{% url 'colors_create' %}" class="btn blue-grey darken-3">Create Color</a>
<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hex Number</th>
            <th>Sample</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for color in colors %}
        <tr>
            <td>{{color.name}}</td>
            <td>{{color.hex}}</td>
            <td>
                <div class='color-tile-sample' style='background-color: {{color.hex}}; width: 30px; height: 30px;'></div>
            </td>
            <td><a href="{% url 'color_update' color.id %}">Update</a></td>
            <td><a href="{% url 'color_delete' color.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}