/* keyframes */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
}

main {
  flex: 1 0 auto;
}
/* Navbar */
.nav-heading {
  margin-left: 50px;
  font-size: 30px
}
.logo {
  display: inline-block;
  height: 60%;
}
.logo>img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* Home page */
.home-page {
  width: 100vw;
  background-color: #b0bec5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0;
}
.color-wheel {
  display: flex;
  justify-content: center;
  margin: 2%;
  width: 20vw;
  animation: spin 4s ease-in-out 1;
}

/* Projects */
.key {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.project-card-details {
  height: 500px;
}
.project-cards {
  display: flex;
  flex-flow: row wrap;
}
.project-card {
  flex-grow: 1;
  margin: 10px;
  height: 20vh;
}
.preview-colors {
  display: flex;
  align-self: flex-end;
  margin: 10px;
}
.color-tile-line {
  width: 100%;
  height: 20px;

}
/* Color schemes */

.scheme-sample {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.colors-sample {
  display: flex;
  border-radius: 10px;
}

.color-tile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.color-tile-sample {
  border-radius: 50%;
}

.all-colors-title {
  padding-left: 3%;
}


 /* Footer */
footer {
  padding-top: 0;
  text-align: right;
  background-color: #7180AC;
}

/* Color */
.color-form-bottom {
  display: flex;
  justify-content: center;
}
.color-generator {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.color-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
}
.box {
  text-align: center;
  display: flex;
  padding: 40px 0px;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 5%;
}

@media only screen and (max-width: 650px) {
  .nav-heading {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  .logo {
    display: none;
  }
}