{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="col s6">
    <div class="card blue-grey lighten-4 project-card-details">
      <div class="card-content ">
        <span class="card-title">
          Project Details</span>
        <h6>Developer</h6>
        <p>{{ project.developer}}</p>
        <h6>Description</h6>
        <p>{{ project.description }}</p>
        <h6>Date Published</h6>
        <p>{{ project.date_published }}</p>
        <h6>Project Type</h6>
        <p>{{ project.get_project_type_display }}</p>
        <br />
        {% if project.live_site %}
        <a href='{{ project.live_site }}' target="blank" class="btn blue-grey darken-3">Live Site</a>
        {% endif %} {% if project.github %}
        <a href='{{ project.github }}' target="blank" class="btn blue-grey darken-3">GitHub</a>
        {% endif %}
      </div>
      <div class="card-action">
        <a href="{% url 'projects_update' project.id %}" class="black-text">Edit</a>
        <a href="{% url 'projects_delete' project.id %}" class="black-text">Delete</a>
      </div>
    </div>
  </div>

  <div class="col s6">
    {% for scheme in project.color_scheme.all %}
    <div class="card project-preview project-card-details" style='background-color: {{scheme.background.all.first.hex}};'>
      <div class="card-content">
        <h4 style='color: {{scheme.heading.all.first.hex}};'>{{ project.name }}</h4>
        <p>{{ project.description }}</p>
        <div class="preview-colors">
        {% for color in scheme.color.all %}
             <div class='color-tile-line' style='background-color: {{color.hex}};'></div>
      
        {% endfor %}
      </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <a href="{% url 'projects_update' project.id %}" class="btn blue-grey darken-3">Add Color Scheme</a>
  {% for scheme in project.color_scheme.all %}
  <div class="card">
    <a href="{% url 'color_scheme_detail' scheme.id %}">
      <div class="card-content scheme-sample">
        <div class="card-title">{{ scheme.name }}</div>
                    <div class="colors-sample">
                {% for color in scheme.background.all %}
                <div class='color-tile' style='background-color: {{color.hex}};'></div>
                {% endfor %}
                {% for color in scheme.heading.all %}
                <div class='color-tile' style='background-color: {{color.hex}};'></div>
                {% endfor %}
                {% for color in scheme.color.all %}
                <div class='color-tile' style='background-color: {{color.hex}};'></div>
                {% endfor %}
            </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}